In [1]:
import DataLoader
import importlib
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import CoverageHelper
importlib.reload(DataLoader)
%matplotlib inline

Number of apps:
412

Number of apps:
412

In [2]:
test_graph_df = DataLoader.load_csv_test_graphs()
# stat_graph_df = DataLoader.load_csv_stat_graph("")
# stat_trans_graph_df = DataLoader.load_csv_stat_graph("-transitive")
stat_trans_act_graph_df = DataLoader.load_csv_stat_graph("-act-transitive")

Total entries:
2087

Total entries:
41163

In [3]:
test_graph_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>source</th>
      <th>target</th>
      <th>action</th>
      <th>widget_id</th>
      <th>widget</th>
      <th>strategy</th>
      <th>app</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>com.digital_oppression.sleep_sounds_relax_medi...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>systematic</td>
      <td>com.digital_oppression.sleep_sounds_relax_medi...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>com.digital_oppression.sleep_sounds_relax_medi...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>random</td>
      <td>com.digital_oppression.sleep_sounds_relax_medi...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>com.app2u.mirror.Mirror</td>
      <td>com.app2u.mirror.Settings</td>
      <td>openMenu</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>systematic</td>
      <td>com.app2u.mirror</td>
    </tr>
    <tr>
      <th>3</th>
      <td>com.app2u.mirror.Mirror</td>
      <td>com.app2u.mirror.Settings</td>
      <td>selectListItem</td>
      <td>16909160.0</td>
      <td>com.android.internal.view.menu.ExpandedMenuView</td>
      <td>systematic</td>
      <td>com.app2u.mirror</td>
    </tr>
    <tr>
      <th>4</th>
      <td>com.app2u.mirror.Mirror</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>random</td>
      <td>com.app2u.mirror</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
wtg_edges = stat_trans_act_graph_df.groupby("app").count().target
wtg_edges.head()

# l = stat_trans_act_graph_df[stat_trans_act_graph_df.app == "bestfreelivewallpapers.funny_photo_editor"]
# l.drop_duplicates().count()
# wtg_edges = wtg_edges.drop("com.yinzcam.nfl.packers")
wtg_edges.describe()
# wtg_edges.sort_values(ascending=False)

count     376.000000
mean      108.906915
std       645.529516
min         0.000000
25%         1.000000
50%         8.000000
75%        33.250000
max      9309.000000
Name: target, dtype: float64

In [4]:
wtg_screens = stat_trans_act_graph_df[['app', 'source', 'target']].melt(
    id_vars=['app']).groupby("app").value.nunique()
# wtg_screens = wtg_screens.drop("com.yinzcam.nfl.packers")
# wtg_screens = wtg_screens.drop("com.team.invilabs.how.to.know.my.future")
wtg_screens.describe()

count    376.000000
mean      12.632979
std       21.540619
min        1.000000
25%        2.000000
50%        6.000000
75%       16.000000
max      262.000000
Name: value, dtype: float64

In [5]:
test_graph_df[test_graph_df.strategy == "random"].app.nunique()
p = test_graph_df[~test_graph_df.app.isin(stat_trans_act_graph_df.app)]
p.app.nunique()
# stat_trans_act_graph_df[stat_trans_act_graph_df.app == "com.littlebithackers.babyns"]

36

In [6]:
unique_widgets_per_app = test_graph_df.groupby(["strategy", "app"]).widget.value_counts(dropna=False).to_frame(
    name="widget_count")

unique_widgets_per_app.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>widget_count</th>
    </tr>
    <tr>
      <th>strategy</th>
      <th>app</th>
      <th>widget</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">random</th>
      <th rowspan="2" valign="top">alex.map.maps</th>
      <th>NaN</th>
      <td>3</td>
    </tr>
    <tr>
      <th>android.widget.Button</th>
      <td>2</td>
    </tr>
    <tr>
      <th>androidlab.carlog</th>
      <th>NaN</th>
      <td>1</td>
    </tr>
    <tr>
      <th>appinventor.ai_agiapplications.CountYourSteps</th>
      <th>android.widget.Button</th>
      <td>1</td>
    </tr>
    <tr>
      <th>asp.aniemo.pack6.ext</th>
      <th>NaN</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
unique_widgets_per_app['percentage'] = unique_widgets_per_app.groupby(level=0).apply(lambda x: 100 * x / x.sum())
unique_widgets_per_app.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>widget_count</th>
      <th>percentage</th>
    </tr>
    <tr>
      <th>strategy</th>
      <th>app</th>
      <th>widget</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">random</th>
      <th rowspan="2" valign="top">alex.map.maps</th>
      <th>NaN</th>
      <td>3</td>
      <td>0.248139</td>
    </tr>
    <tr>
      <th>android.widget.Button</th>
      <td>2</td>
      <td>0.165426</td>
    </tr>
    <tr>
      <th>androidlab.carlog</th>
      <th>NaN</th>
      <td>1</td>
      <td>0.082713</td>
    </tr>
    <tr>
      <th>appinventor.ai_agiapplications.CountYourSteps</th>
      <th>android.widget.Button</th>
      <td>1</td>
      <td>0.082713</td>
    </tr>
    <tr>
      <th>asp.aniemo.pack6.ext</th>
      <th>NaN</th>
      <td>1</td>
      <td>0.082713</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
number_of_unique_screens_per_app = test_graph_df[['strategy', 'app', 'source', 'target', 'widget']].melt(
    id_vars=['strategy', 'app', 'widget'])
number_of_unique_screens_per_app.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>strategy</th>
      <th>app</th>
      <th>widget</th>
      <th>variable</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>systematic</td>
      <td>com.id90travel.id90app</td>
      <td>NaN</td>
      <td>source</td>
      <td>com.id90travel.id90app.MainActivity</td>
    </tr>
    <tr>
      <th>1</th>
      <td>random</td>
      <td>com.id90travel.id90app</td>
      <td>NaN</td>
      <td>source</td>
      <td>com.id90travel.id90app.MainActivity</td>
    </tr>
    <tr>
      <th>2</th>
      <td>systematic</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>android.widget.Button</td>
      <td>source</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>random</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>android.widget.Button</td>
      <td>source</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>random</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>NaN</td>
      <td>source</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
  </tbody>
</table>
</div>

Edges from

In [11]:
systematic_test_graph = test_graph_df[test_graph_df.strategy == "systematic"]
systematic_test_graph.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>source</th>
      <th>target</th>
      <th>action</th>
      <th>widget_id</th>
      <th>widget</th>
      <th>strategy</th>
      <th>app</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>com.id90travel.id90app.MainActivity</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>systematic</td>
      <td>com.id90travel.id90app</td>
    </tr>
    <tr>
      <th>2</th>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>click</td>
      <td>2.131493e+09</td>
      <td>android.widget.Button</td>
      <td>systematic</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>com.routematch.routeshout.RouteShout</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>systematic</td>
      <td>com.routematch.routeshout</td>
    </tr>
    <tr>
      <th>7</th>
      <td>com.antonnikitin.solunarforecast.MainActivity</td>
      <td>com.antonnikitin.solunarforecast.BuyProActivity</td>
      <td>back</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>systematic</td>
      <td>com.antonnikitin.solunarforecast</td>
    </tr>
    <tr>
      <th>8</th>
      <td>com.antonnikitin.solunarforecast.MainActivity</td>
      <td>com.antonnikitin.solunarforecast.BuyProActivity</td>
      <td>clickMenuItem</td>
      <td>2.131624e+09</td>
      <td>com.android.internal.view.menu.ActionMenuItemView</td>
      <td>systematic</td>
      <td>com.antonnikitin.solunarforecast</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
random_test_graph = test_graph_df[(test_graph_df.strategy == "random")]
random_test_graph.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>source</th>
      <th>target</th>
      <th>action</th>
      <th>widget_id</th>
      <th>widget</th>
      <th>strategy</th>
      <th>app</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>com.id90travel.id90app.MainActivity</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>random</td>
      <td>com.id90travel.id90app</td>
    </tr>
    <tr>
      <th>3</th>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>click</td>
      <td>2.131493e+09</td>
      <td>android.widget.Button</td>
      <td>random</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
      <td>back</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>random</td>
      <td>com.dnnapps.girls_wedding_dresses.selfie.photo...</td>
    </tr>
    <tr>
      <th>6</th>
      <td>com.routematch.routeshout.RouteShout</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>random</td>
      <td>com.routematch.routeshout</td>
    </tr>
    <tr>
      <th>10</th>
      <td>com.antonnikitin.solunarforecast.MainActivity</td>
      <td>com.antonnikitin.solunarforecast.BuyProActivity</td>
      <td>click</td>
      <td>1.690831e+07</td>
      <td>android.widget.Button</td>
      <td>random</td>
      <td>com.antonnikitin.solunarforecast</td>
    </tr>
  </tbody>
</table>
</div>

Systematic:

In [44]:
sys_direct_edges_not_found = CoverageHelper.diff_screens(stat_trans_act_graph_df, systematic_test_graph)
sys_direct_edges_not_found = sys_direct_edges_not_found[~sys_direct_edges_not_found.target.isnull()]
# unique_widgets_per_app = CoverageHelper.widget_counter(direct_edges_not_found)
# unique_widgets_per_app.head()

sys_unique_widgets_per_app = sys_direct_edges_not_found.widget.value_counts(dropna=False).to_frame(
    name="widget_count")
sys_unique_widgets_per_app.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>widget_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NaN</th>
      <td>1222</td>
    </tr>
    <tr>
      <th>android.view.View</th>
      <td>266</td>
    </tr>
    <tr>
      <th>android.view.MenuItem</th>
      <td>265</td>
    </tr>
    <tr>
      <th>android.widget.Button</th>
      <td>199</td>
    </tr>
    <tr>
      <th>android.widget.ImageView</th>
      <td>198</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
sys_unique_widgets_per_app = sys_unique_widgets_per_app[~sys_unique_widgets_per_app.index.isnull()]
sys_unique_widgets_per_app['percentage'] = sys_unique_widgets_per_app.apply(lambda x: 100 * x / x.sum())
sys_unique_widgets_per_app.sort_values(by=["widget_count"], ascending=False).iloc[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>widget_count</th>
      <th>percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>android.view.View</th>
      <td>266</td>
      <td>11.949686</td>
    </tr>
    <tr>
      <th>android.view.MenuItem</th>
      <td>265</td>
      <td>11.904762</td>
    </tr>
    <tr>
      <th>android.widget.Button</th>
      <td>199</td>
      <td>8.939802</td>
    </tr>
    <tr>
      <th>android.widget.ImageView</th>
      <td>198</td>
      <td>8.894879</td>
    </tr>
    <tr>
      <th>android.widget.ListView</th>
      <td>186</td>
      <td>8.355795</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
sys_nan_direct_edges_not_found = CoverageHelper.diff_screens(stat_trans_act_graph_df, systematic_test_graph)
sys_nan_direct_edges_not_found = sys_nan_direct_edges_not_found[~sys_nan_direct_edges_not_found.target.isnull()]
sys_nan_direct_edges_not_found = sys_nan_direct_edges_not_found[sys_nan_direct_edges_not_found.widget.isnull()]
sys_nan_unique_widgets_per_app = sys_nan_direct_edges_not_found.groupby(["method"]).widget.value_counts(dropna=False).to_frame(
    name="widget_count")
sys_nan_unique_widgets_per_app["percentage"] = sys_nan_unique_widgets_per_app.apply(lambda x: 100 * x / x.sum())
sys_nan_unique_widgets_per_app.sort_values(by=["widget_count"], ascending=False).iloc[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>widget_count</th>
      <th>percentage</th>
    </tr>
    <tr>
      <th>method</th>
      <th>widget</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>onCreate</th>
      <th>NaN</th>
      <td>285</td>
      <td>23.322422</td>
    </tr>
    <tr>
      <th>onActivityResult</th>
      <th>NaN</th>
      <td>116</td>
      <td>9.492635</td>
    </tr>
    <tr>
      <th>onResume</th>
      <th>NaN</th>
      <td>111</td>
      <td>9.083470</td>
    </tr>
    <tr>
      <th>a</th>
      <th>NaN</th>
      <td>71</td>
      <td>5.810147</td>
    </tr>
    <tr>
      <th>onStart</th>
      <th>NaN</th>
      <td>39</td>
      <td>3.191489</td>
    </tr>
  </tbody>
</table>
</div>

Random:

In [47]:
ran_direct_edges_not_found = CoverageHelper.diff_screens(stat_trans_act_graph_df, random_test_graph)
ran_direct_edges_not_found = ran_direct_edges_not_found[~ran_direct_edges_not_found.target.isnull()]
ran_unique_widgets_per_app = ran_direct_edges_not_found.widget.value_counts(dropna=False).to_frame(
    name="widget_count")
ran_unique_widgets_per_app.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>widget_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NaN</th>
      <td>1319</td>
    </tr>
    <tr>
      <th>android.view.MenuItem</th>
      <td>302</td>
    </tr>
    <tr>
      <th>android.view.View</th>
      <td>280</td>
    </tr>
    <tr>
      <th>android.widget.ListView</th>
      <td>206</td>
    </tr>
    <tr>
      <th>android.widget.ImageView</th>
      <td>193</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
ran_unique_widgets_per_app = ran_unique_widgets_per_app[~ran_unique_widgets_per_app.index.isnull()]
ran_unique_widgets_per_app['percentage'] = ran_unique_widgets_per_app.apply(lambda x: 100 * x / x.sum())
ran_unique_widgets_per_app.sort_values(by=["widget_count"], ascending=False).iloc[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>widget_count</th>
      <th>percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>android.view.MenuItem</th>
      <td>302</td>
      <td>10.754986</td>
    </tr>
    <tr>
      <th>android.view.View</th>
      <td>280</td>
      <td>9.971510</td>
    </tr>
    <tr>
      <th>android.widget.ListView</th>
      <td>206</td>
      <td>7.336182</td>
    </tr>
    <tr>
      <th>android.widget.ImageView</th>
      <td>193</td>
      <td>6.873219</td>
    </tr>
    <tr>
      <th>android.widget.Button</th>
      <td>191</td>
      <td>6.801994</td>
    </tr>
  </tbody>
</table>
</div>

In [50]:
ran_nan_direct_edges_not_found = CoverageHelper.diff_screens(stat_trans_act_graph_df, random_test_graph)
ran_nan_direct_edges_not_found = ran_nan_direct_edges_not_found[~ran_nan_direct_edges_not_found.target.isnull()]
ran_nan_direct_edges_not_found = ran_nan_direct_edges_not_found[ran_nan_direct_edges_not_found.widget.isnull()]
ran_nan_unique_widgets_per_app = ran_nan_direct_edges_not_found.groupby(["method"]).widget.value_counts(dropna=False).to_frame(
    name="widget_count")
ran_nan_unique_widgets_per_app["percentage"] = ran_nan_unique_widgets_per_app.apply(lambda x: 100 * x / x.sum())
ran_nan_unique_widgets_per_app.sort_values(by=["widget_count"], ascending=False).iloc[:5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>widget_count</th>
      <th>percentage</th>
    </tr>
    <tr>
      <th>method</th>
      <th>widget</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>onCreate</th>
      <th>NaN</th>
      <td>292</td>
      <td>22.137983</td>
    </tr>
    <tr>
      <th>onActivityResult</th>
      <th>NaN</th>
      <td>123</td>
      <td>9.325246</td>
    </tr>
    <tr>
      <th>onResume</th>
      <th>NaN</th>
      <td>110</td>
      <td>8.339651</td>
    </tr>
    <tr>
      <th>a</th>
      <th>NaN</th>
      <td>69</td>
      <td>5.231236</td>
    </tr>
    <tr>
      <th>startActivityForResult</th>
      <th>NaN</th>
      <td>54</td>
      <td>4.094011</td>
    </tr>
  </tbody>
</table>
</div>